
.cap-triangle {
    width: 0; height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 170px solid rgba(255,255,255,0.1);
    position: relative;
    margin: 20px auto;
}
.point { position: absolute; font-size: 0.8rem; font-weight: bold; width: 100px; text-align: center;}
.top { top: -20px; left: -50px; color: var(--primary); }
.left { bottom: -190px; left: -140px; color: var(--secondary); }
.right { bottom: -190px; right: -140px; color: var(--accent); }
        