name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Prepare file for deployment
        run: |
          rm -rf .git
          rm -rf .github
          rm -rf .gitignore
          rm -rf node_modules

      - name: Deploy with SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./"
          target: ${{ secrets.DEPLOY_PATH }}
          rm: true # Delete existing files in target before copy (optional but cleaner)
